# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/contentModel.xml
/projectSettingsUpdater.xml
/.idea.WxMonitor.iml
# Datasource local storage ignored files
/../../../../../../../:\Documents\Projects\WxMonitor\.idea\.idea.WxMonitor\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
